@import url(fonts/Lato-Black.css);
@import url(fonts/Lato-Light.css);
@import url(fonts/Lato-Regular.css);
/* line 6, ../../sass/includes/_main.scss */
.content {
  width: 100%;
  height: 100%;
  padding: 43px;
}
@media (max-width: 768px) {
  /* line 6, ../../sass/includes/_main.scss */
  .content {
    padding: 43px 8px;
  }
}
@media (max-width: 768px) {
  /* line 6, ../../sass/includes/_main.scss */
  .content {
    padding: 43px 8px 66px;
  }
}
/* line 18, ../../sass/includes/_main.scss */
.content .main {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-shadow: inset 0 0 3px #f2f2f2;
  -moz-box-shadow: inset 0 0 3px #f2f2f2;
  box-shadow: inset 0 0 3px #f2f2f2;
}
/* line 27, ../../sass/includes/_main.scss */
.content .main .main-title h1 {
  margin: 0;
  font-family: LatoLight;
  font-size: 44px;
  font-size: 3vw;
}
/* line 33, ../../sass/includes/_main.scss */
.content .main .main-title h2 {
  margin: 0;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 54px;
  font-size: 3.4vw;
}

/* line 3, ../../sass/includes/_footer.scss */
.footer {
  position: fixed;
  height: 43px;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 10px 66px 0;
}
@media (max-width: 992px) {
  /* line 3, ../../sass/includes/_footer.scss */
  .footer {
    padding: 10px 43px 0;
  }
}
@media (max-width: 768px) {
  /* line 3, ../../sass/includes/_footer.scss */
  .footer {
    padding: 10px 8px 0;
    height: 60px;
  }
}
/* line 19, ../../sass/includes/_footer.scss */
.footer .social {
  float: left;
}
@media (max-width: 768px) {
  /* line 19, ../../sass/includes/_footer.scss */
  .footer .social {
    margin-top: 14px;
  }
}
/* line 26, ../../sass/includes/_footer.scss */
.footer .social > a i {
  color: #5d5d5d;
  border: 2px solid #5d5d5d;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  line-height: 24px;
  text-align: center;
  margin-left: 4px;
}
@media (max-width: 768px) {
  /* line 26, ../../sass/includes/_footer.scss */
  .footer .social > a i {
    width: 22px;
    height: 22px;
    line-height: 18px;
  }
}
/* line 43, ../../sass/includes/_footer.scss */
.footer .social > a:hover i {
  background-color: #5d5d5d;
  color: #fff;
}
/* line 51, ../../sass/includes/_footer.scss */
.footer .footer-menu {
  float: left;
  padding-top: 6px;
}
@media (max-width: 768px) {
  /* line 51, ../../sass/includes/_footer.scss */
  .footer .footer-menu {
    float: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 4px;
  }
}
/* line 64, ../../sass/includes/_footer.scss */
.footer .footer-menu > ul {
  margin-left: 43px;
  padding: 0;
  list-style: none;
}
@media (max-width: 768px) {
  /* line 64, ../../sass/includes/_footer.scss */
  .footer .footer-menu > ul {
    width: 290px;
    margin: 0 auto;
  }
}
/* line 74, ../../sass/includes/_footer.scss */
.footer .footer-menu > ul li {
  float: left;
}
/* line 76, ../../sass/includes/_footer.scss */
.footer .footer-menu > ul li a {
  display: block;
  border-left: 1px solid #5d5d5d;
  border-radius: 0;
  font-family: LatoBlack;
  font-size: 11px;
  color: #5d5d5d;
  letter-spacing: 2px;
  height: 14px;
  padding: 0 26px;
}
@media (max-width: 768px) {
  /* line 76, ../../sass/includes/_footer.scss */
  .footer .footer-menu > ul li a {
    padding: 0 10px;
  }
}
/* line 91, ../../sass/includes/_footer.scss */
.footer .footer-menu > ul li a:hover {
  color: #444444;
}
/* line 96, ../../sass/includes/_footer.scss */
.footer .footer-menu > ul li:last-child a {
  border-right: 1px solid #5d5d5d;
}
/* line 101, ../../sass/includes/_footer.scss */
.footer .footer-menu > ul li ul {
  margin: 0 0 14px;
  padding: 0;
  list-style: none;
  background-color: #5d5d5d;
  min-width: 130px;
  border: 0;
  border-radius: 0;
}
/* line 110, ../../sass/includes/_footer.scss */
.footer .footer-menu > ul li ul li h2 {
  margin: 0;
  padding: 8px 10px;
  font-family: LatoBlack;
  font-size: 10px;
  color: #f2f2f2;
  text-align: center;
  width: 150px;
  letter-spacing: 1px;
}
/* line 120, ../../sass/includes/_footer.scss */
.footer .footer-menu > ul li ul li a {
  font-family: Lato;
  margin: 0 10px;
  padding: 2px 6px 0;
  border-bottom: 1px solid #fff;
  color: #f2f2f2;
  width: 130px;
  height: 24px;
  font-size: 9px;
  letter-spacing: 1px;
}
/* line 132, ../../sass/includes/_footer.scss */
.footer .footer-menu > ul li ul li:last-child a {
  border-bottom: 0;
}
/* line 143, ../../sass/includes/_footer.scss */
.footer .copy {
  float: right;
  font-family: LatoBlack;
  font-size: 9px;
  color: #5d5d5d;
  padding-left: 10px;
}
@media (max-width: 768px) {
  /* line 143, ../../sass/includes/_footer.scss */
  .footer .copy {
    margin-top: 14px;
    padding-left: 0;
  }
}
/* line 154, ../../sass/includes/_footer.scss */
.footer .design {
  float: right;
  clear: right;
  color: #C5C5C5;
  font-family: LatoBlack;
  font-size: 9px;
}
@media (max-width: 1100px) {
  /* line 154, ../../sass/includes/_footer.scss */
  .footer .design {
    clear: none;
  }
}
@media (max-width: 768px) {
  /* line 154, ../../sass/includes/_footer.scss */
  .footer .design {
    float: none;
    clear: both;
    text-align: center;
  }
}
/* line 171, ../../sass/includes/_footer.scss */
.footer .design a {
  color: #C5C5C5;
}
/* line 173, ../../sass/includes/_footer.scss */
.footer .design a:hover {
  color: #C5C5C5;
}

/* line 5, ../../sass/includes/_navbar.scss */
.gray {
  background-color: #f2f2f2;
}

/* line 9, ../../sass/includes/_navbar.scss */
.navbar {
  position: fixed;
  height: 43px;
  width: 100%;
  top: 0;
  left: 0;
}
/* line 15, ../../sass/includes/_navbar.scss */
.navbar img {
  position: absolute;
  width: 388px;
  left: 50%;
  margin-left: -194px;
}
@media (max-width: 768px) {
  /* line 15, ../../sass/includes/_navbar.scss */
  .navbar img {
    width: 250px;
    left: 0;
    margin-left: 10px;
    margin-top: 10px;
  }
}
/* line 27, ../../sass/includes/_navbar.scss */
.navbar button {
  float: right;
  width: 39px;
  height: 39px;
  border: 0;
  margin: 2px;
  background-color: transparent;
  text-align: center;
  padding: 0;
  line-height: 39px;
}

/* line 40, ../../sass/includes/_navbar.scss */
#navbar-menu {
  position: fixed;
  top: 43px;
  right: 0px;
  width: 207px;
  z-index: 1090;
  background-color: #fff;
}
/* line 47, ../../sass/includes/_navbar.scss */
#navbar-menu ul {
  list-style: none;
  padding: 16px 0;
}
/* line 51, ../../sass/includes/_navbar.scss */
#navbar-menu ul li a {
  display: block;
  font-family: Lato;
  font-size: 14px;
  text-align: center;
  color: #5d5d5d;
  height: 44px;
  line-height: 44px;
  text-transform: uppercase;
}
/* line 60, ../../sass/includes/_navbar.scss */
#navbar-menu ul li a:hover {
  font-family: LatoBlack;
  text-decoration: none;
  color: #444444;
}
/* line 67, ../../sass/includes/_navbar.scss */
#navbar-menu ul li.active a {
  font-family: LatoBlack;
}

/* line 75, ../../sass/includes/_navbar.scss */
.left-bar {
  position: fixed;
  left: 0;
  width: 43px;
  height: 86px;
  margin-top: -43px;
  top: 50%;
}
/* line 82, ../../sass/includes/_navbar.scss */
.left-bar a {
  border: 0;
  width: 43px;
  height: 43px;
  color: #5d5d5d;
  padding: 0;
  background-color: transparent;
}
/* line 89, ../../sass/includes/_navbar.scss */
.left-bar a i {
  line-height: 43px;
}
@media (max-width: 768px) {
  /* line 75, ../../sass/includes/_navbar.scss */
  .left-bar {
    display: none;
  }
}

/* line 100, ../../sass/includes/_navbar.scss */
.right-bar {
  position: fixed;
  width: 43px;
  height: 130px;
  margin-top: -65px;
  top: 50%;
  right: 0;
}
/* line 107, ../../sass/includes/_navbar.scss */
.right-bar i {
  width: 43px;
  height: 26px;
  text-align: center;
  font-size: 10px;
  color: #CCCBCB;
}
/* line 113, ../../sass/includes/_navbar.scss */
.right-bar i.active {
  color: #5d5d5d;
}
@media (max-width: 768px) {
  /* line 100, ../../sass/includes/_navbar.scss */
  .right-bar {
    display: none;
  }
}

/* line 5, ../../sass/includes/_home.scss */
#home-carousel .item {
  width: 100%;
  height: 100%;
}
/* line 8, ../../sass/includes/_home.scss */
#home-carousel .item .img {
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
}
/* line 14, ../../sass/includes/_home.scss */
#home-carousel .item .text {
  color: #fff;
  padding-left: 60px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 992px) {
  /* line 14, ../../sass/includes/_home.scss */
  #home-carousel .item .text {
    padding-left: 40px;
  }
}
@media (max-width: 768px) {
  /* line 14, ../../sass/includes/_home.scss */
  #home-carousel .item .text {
    padding-left: 20px;
  }
}
/* line 27, ../../sass/includes/_home.scss */
#home-carousel .item .text h1 {
  margin: 0;
  font-family: LatoLight;
  font-size: 38px;
}
/* line 32, ../../sass/includes/_home.scss */
#home-carousel .item .text h2 {
  margin: 0;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 44px;
}
/* line 39, ../../sass/includes/_home.scss */
#home-carousel .item .flex-wrapper {
  position: absolute;
  display: flex;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
}

/* line 10, ../../sass/includes/_about.scss */
.content .main .about-img {
  position: relative;
  float: right;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 768px) {
  /* line 10, ../../sass/includes/_about.scss */
  .content .main .about-img {
    float: none;
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 10, ../../sass/includes/_about.scss */
  .content .main .about-img {
    height: auto;
  }
}
/* line 25, ../../sass/includes/_about.scss */
.content .main .about-img .img {
  width: 100%;
  height: 100%;
  background-position: right top;
  background-size: cover;
  -webkit-transition: -webkit-transform 1s ease-in;
  -moz-transition: -moz-transform 1s ease-in;
  -o-transition: -o-transform 1s ease-in;
  transition: transform 1s ease-in;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
/* line 32, ../../sass/includes/_about.scss */
.content .main .about-img .img:hover {
  -webkit-transition: -webkit-transform 1s ease-out;
  -moz-transition: -moz-transform 1s ease-out;
  -o-transition: -o-transform 1s ease-out;
  transition: transform 1s ease-out;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
/* line 38, ../../sass/includes/_about.scss */
.content .main .about-img .img-title {
  position: absolute;
  top: 20%;
  left: 20px;
}
/* line 42, ../../sass/includes/_about.scss */
.content .main .about-img .img-title h1 {
  color: #fff;
  font-family: LatoLight;
  font-size: 38px;
  margin: 0;
  text-shadow: 2px 2px 4px black;
}
/* line 49, ../../sass/includes/_about.scss */
.content .main .about-img .img-title h2 {
  margin: 0;
  color: #fff;
  font-family: Helvetica;
  font-size: 44px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}
/* line 60, ../../sass/includes/_about.scss */
.content .main .about-text {
  position: relative;
  float: left;
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  background-color: #F2F2F2;
  font-family: Lato;
  color: #5d5d5d;
  padding: 80px 77px 0 80px;
}
@media (max-width: 768px) {
  /* line 60, ../../sass/includes/_about.scss */
  .content .main .about-text {
    float: none;
    width: 100%;
  }
}
@media (max-width: 1200px) {
  /* line 60, ../../sass/includes/_about.scss */
  .content .main .about-text {
    padding: 80px 57px 0 60px;
  }
}
@media (max-width: 965px) {
  /* line 60, ../../sass/includes/_about.scss */
  .content .main .about-text {
    padding: 80px 17px 0 20px;
  }
}
@media (max-width: 768px) {
  /* line 60, ../../sass/includes/_about.scss */
  .content .main .about-text {
    height: auto;
    max-height: none;
    display: block;
    padding-top: 10px;
  }
}
/* line 95, ../../sass/includes/_about.scss */
.content .main .about-text .main-text {
  margin-bottom: 78px;
  overflow: auto;
  flex-shrink: 100;
}
@media (max-width: 768px) {
  /* line 95, ../../sass/includes/_about.scss */
  .content .main .about-text .main-text {
    flex-shrink: 0;
    margin-bottom: 10px;
  }
}
/* line 103, ../../sass/includes/_about.scss */
.content .main .about-text .main-text p {
  text-align: justify;
  font-size: 15px;
  letter-spacing: 1px;
}
/* line 107, ../../sass/includes/_about.scss */
.content .main .about-text .main-text p:first-of-type {
  margin-top: 20px;
}
/* line 112, ../../sass/includes/_about.scss */
.content .main .about-text .about-buttons {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 77px;
}
@media (max-width: 1200px) {
  /* line 112, ../../sass/includes/_about.scss */
  .content .main .about-text .about-buttons {
    padding-left: 60px;
    padding-right: 57px;
  }
}
@media (max-width: 965px) {
  /* line 112, ../../sass/includes/_about.scss */
  .content .main .about-text .about-buttons {
    padding-left: 20px;
    padding-right: 17px;
  }
}
@media (max-width: 768px) {
  /* line 112, ../../sass/includes/_about.scss */
  .content .main .about-text .about-buttons {
    position: relative;
    bottom: auto;
    left: auto;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    padding: 0 0 10px;
  }
}
/* line 141, ../../sass/includes/_about.scss */
.content .main .about-text .about-buttons > a {
  border: 0;
  border-radius: 0;
  background-color: #5d5d5d;
  color: #fff;
  font-family: LatoBlack;
  letter-spacing: 1px;
  font-size: 13px;
  padding: 6px 27px;
  margin-right: 4px;
}
/* line 152, ../../sass/includes/_about.scss */
.content .main .about-text .about-buttons > a:last-of-type {
  margin-right: 0;
}
@media (max-width: 1275px) {
  /* line 141, ../../sass/includes/_about.scss */
  .content .main .about-text .about-buttons > a {
    padding: 6px 10px;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  /* line 141, ../../sass/includes/_about.scss */
  .content .main .about-text .about-buttons > a {
    font-size: 11px;
    padding: 6px 4px;
    width: 200px;
    margin-top: 10px;
    margin-right: 0;
  }
}
/* line 169, ../../sass/includes/_about.scss */
.content .main .about-text .about-buttons > a:hover {
  background-color: #444444;
  color: #e6e6e6;
}

/* line 4, ../../sass/includes/_exhibitions.scss */
.content.exhibitions {
  background-color: #f2f2f2;
}
/* line 6, ../../sass/includes/_exhibitions.scss */
.content.exhibitions .main {
  background-color: #fff;
  color: #5d5d5d;
}
/* line 10, ../../sass/includes/_exhibitions.scss */
.content.exhibitions .main .exhibitions {
  padding: 64px 102px 43px 112px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  /* line 10, ../../sass/includes/_exhibitions.scss */
  .content.exhibitions .main .exhibitions {
    padding: 34px 10px;
    height: auto;
    max-height: none;
  }
}
@media (max-width: 768px) {
  /* line 27, ../../sass/includes/_exhibitions.scss */
  .content.exhibitions .main .exhibitions .main-title h1 {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  /* line 32, ../../sass/includes/_exhibitions.scss */
  .content.exhibitions .main .exhibitions .main-title h2 {
    font-size: 30px;
  }
}
/* line 39, ../../sass/includes/_exhibitions.scss */
.content.exhibitions .main .exhibitions .exhibitions-selector {
  position: absolute;
  right: 80px;
  top: 64px;
}
@media (max-width: 768px) {
  /* line 39, ../../sass/includes/_exhibitions.scss */
  .content.exhibitions .main .exhibitions .exhibitions-selector {
    top: 104px;
    right: 10px;
  }
}
/* line 47, ../../sass/includes/_exhibitions.scss */
.content.exhibitions .main .exhibitions .exhibitions-selector ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 51, ../../sass/includes/_exhibitions.scss */
.content.exhibitions .main .exhibitions .exhibitions-selector ul li {
  float: left;
  border-right: 1px solid #5d5d5d;
}
/* line 54, ../../sass/includes/_exhibitions.scss */
.content.exhibitions .main .exhibitions .exhibitions-selector ul li a {
  display: block;
  padding: 0 20px;
  border: 0;
  border-radius: 0;
  font-family: Lato;
  color: #5d5d5d;
}
/* line 61, ../../sass/includes/_exhibitions.scss */
.content.exhibitions .main .exhibitions .exhibitions-selector ul li a:hover {
  background-color: transparent;
}
/* line 65, ../../sass/includes/_exhibitions.scss */
.content.exhibitions .main .exhibitions .exhibitions-selector ul li:last-child {
  border-right: 0;
}
/* line 67, ../../sass/includes/_exhibitions.scss */
.content.exhibitions .main .exhibitions .exhibitions-selector ul li:last-child a {
  padding-right: 0;
}
/* line 72, ../../sass/includes/_exhibitions.scss */
.content.exhibitions .main .exhibitions .exhibitions-selector ul li:first-child a {
  padding-left: 0;
}
/* line 77, ../../sass/includes/_exhibitions.scss */
.content.exhibitions .main .exhibitions .exhibitions-selector ul li.active a, .content.exhibitions .main .exhibitions .exhibitions-selector ul li:hover a {
  font-family: LatoBlack;
}
/* line 85, ../../sass/includes/_exhibitions.scss */
.content.exhibitions .main .exhibitions .exhibitions-text {
  flex-shrink: 100;
  overflow: auto;
}
@media (max-width: 768px) {
  /* line 85, ../../sass/includes/_exhibitions.scss */
  .content.exhibitions .main .exhibitions .exhibitions-text {
    flex-shrink: 0;
  }
}
/* line 93, ../../sass/includes/_exhibitions.scss */
.content.exhibitions .main .exhibitions .exhibitions-text h3 {
  margin: 44px 0;
  font-size: 15px;
  font-family: LatoBlack;
}
/* line 98, ../../sass/includes/_exhibitions.scss */
.content.exhibitions .main .exhibitions .exhibitions-text p {
  font-family: Lato;
  font-size: 15px;
  letter-spacing: 1px;
}

/* line 4, ../../sass/includes/_artwork.scss */
.content.artwork {
  background-color: #f2f2f2;
}
/* line 6, ../../sass/includes/_artwork.scss */
.content.artwork .main {
  background-color: #fff;
}
/* line 8, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork {
  display: flex;
  padding: 44px 10px 10px;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  position: relative;
}
@media (max-width: 768px) {
  /* line 8, ../../sass/includes/_artwork.scss */
  .content.artwork .main .artwork {
    padding: 24px 10px 10px;
    max-height: none;
    height: auto;
  }
}
/* line 23, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork .main-title {
  margin-left: 30px;
}
@media (max-width: 768px) {
  /* line 23, ../../sass/includes/_artwork.scss */
  .content.artwork .main .artwork .main-title {
    margin-left: 0;
  }
  /* line 27, ../../sass/includes/_artwork.scss */
  .content.artwork .main .artwork .main-title h1 {
    font-size: 26px;
  }
  /* line 30, ../../sass/includes/_artwork.scss */
  .content.artwork .main .artwork .main-title h2 {
    font-size: 30px;
  }
}
/* line 36, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork .artwork-filters {
  position: absolute;
  right: 30px;
  top: 44px;
}
@media (max-width: 768px) {
  /* line 36, ../../sass/includes/_artwork.scss */
  .content.artwork .main .artwork .artwork-filters {
    top: auto;
    right: auto;
    position: relative;
  }
}
/* line 47, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork .artwork-filters ul {
  list-style: none;
  padding: 0 0 12px;
  margin: 0 0 12px;
  float: right;
  clear: right;
}
@media (max-width: 830px) {
  /* line 47, ../../sass/includes/_artwork.scss */
  .content.artwork .main .artwork .artwork-filters ul {
    padding: 0 0 8px;
    margin: 0 0 8px;
  }
}
@media (max-width: 768px) {
  /* line 47, ../../sass/includes/_artwork.scss */
  .content.artwork .main .artwork .artwork-filters ul {
    margin: 10px 0 4px;
  }
}
/* line 62, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork .artwork-filters ul.styles {
  border-bottom: 1px solid #5d5d5d;
}
/* line 65, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork .artwork-filters ul li {
  float: left;
  border-right: 1px solid #5d5d5d;
}
/* line 68, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork .artwork-filters ul li a {
  display: block;
  margin: 0 4px;
  padding: 0 20px;
  border: 0;
  border-radius: 0;
  font-family: Lato;
  color: #5d5d5d;
}
/* line 76, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork .artwork-filters ul li a:hover {
  background-color: transparent;
}
@media (max-width: 830px) {
  /* line 68, ../../sass/includes/_artwork.scss */
  .content.artwork .main .artwork .artwork-filters ul li a {
    font-size: 12px;
    padding: 0 10px;
  }
}
@media (max-width: 768px) {
  /* line 68, ../../sass/includes/_artwork.scss */
  .content.artwork .main .artwork .artwork-filters ul li a {
    text-align: center;
  }
}
/* line 88, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork .artwork-filters ul li:last-child {
  border-right: 0;
}
/* line 90, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork .artwork-filters ul li:last-child a {
  padding-right: 0;
}
/* line 95, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork .artwork-filters ul li:first-child a {
  padding-left: 0;
}
/* line 100, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork .artwork-filters ul li.active a, .content.artwork .main .artwork .artwork-filters ul li:hover a {
  font-family: LatoBlack;
}
/* line 108, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork .artwork-imgs {
  position: relative;
  flex-shrink: 100;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-top: 40px;
}
@media (max-width: 768px) {
  /* line 108, ../../sass/includes/_artwork.scss */
  .content.artwork .main .artwork .artwork-imgs {
    flex-direction: column;
    align-items: center;
  }
}
/* line 123, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork .artwork-imgs img {
  max-width: 100%;
  margin: 2px;
  cursor: pointer;
}
/* line 130, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-modal {
  display: none;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}
/* line 134, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-modal .modal-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
/* line 139, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-modal .modal-wrapper img {
  height: 100%;
}
/* line 142, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-modal .modal-wrapper .desc {
  position: relative;
  width: 340px;
  background-color: rgba(242, 242, 242, 0.95);
  margin-left: 8px;
}
/* line 148, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-modal .modal-wrapper .desc a.close {
  position: absolute;
  font-size: 12px;
  top: 2px;
  right: 2px;
}
/* line 154, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-modal .modal-wrapper .desc a.buy {
  display: block;
  position: absolute;
  width: 120px;
  bottom: 10px;
  left: 50%;
  margin-left: -60px;
  text-align: center;
  border: 0;
  border-radius: 0;
  background-color: #5d5d5d;
  color: #fff;
  font-family: LatoBlack;
  font-size: 14px;
  padding: 4px;
}
/* line 170, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-modal .modal-wrapper .desc a.buy:hover {
  color: #e6e6e6;
  background-color: #444444;
}
/* line 176, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-modal .modal-wrapper .desc .inner-wrapper {
  padding: 0 30px;
  font-family: Lato;
  letter-spacing: 1px;
  font-size: 10px;
  display: flex;
  max-height: 100%;
  flex-direction: column;
}
/* line 186, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-modal .modal-wrapper .desc .inner-wrapper h2 {
  margin: 60px 0 0;
  font-family: LatoBlack;
  font-size: 10px;
}
/* line 191, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-modal .modal-wrapper .desc .inner-wrapper h3 {
  margin: 6px 0 0;
  font-size: 10px;
}
/* line 195, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-modal .modal-wrapper .desc .inner-wrapper .dimensions {
  font-family: LatoLight;
  font-size: 8px;
  margin: 4px 0 0;
}
/* line 200, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-modal .modal-wrapper .desc .inner-wrapper .autor {
  margin: 0 0 8px;
  font-family: LatoLight;
  font-size: 8px;
}
/* line 204, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-modal .modal-wrapper .desc .inner-wrapper .autor b {
  font-family: Lato;
  font-weight: bold;
  font-size: 9px;
}
/* line 210, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-modal .modal-wrapper .desc .inner-wrapper .text {
  flex-shrink: 100;
  overflow: auto;
  margin-bottom: 40px;
}
/* line 214, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-modal .modal-wrapper .desc .inner-wrapper .text p {
  text-align: justify;
}
/* line 223, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-small-modal {
  padding: 10px 0;
}
@media (max-width: 1200px) {
  /* line 223, ../../sass/includes/_artwork.scss */
  .content.artwork .main .artwork #artwork-small-modal {
    padding: 10px 0;
  }
}
@media (max-width: 992px) {
  /* line 223, ../../sass/includes/_artwork.scss */
  .content.artwork .main .artwork #artwork-small-modal {
    padding: 10px 0;
  }
}
@media (max-width: 768px) {
  /* line 223, ../../sass/includes/_artwork.scss */
  .content.artwork .main .artwork #artwork-small-modal {
    padding: 10px 0;
  }
}
/* line 235, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-small-modal .modal-dialog {
  position: relative;
  width: auto;
  height: 100%;
  margin: 0 10px;
}
@media (max-width: 1200px) {
  /* line 235, ../../sass/includes/_artwork.scss */
  .content.artwork .main .artwork #artwork-small-modal .modal-dialog {
    width: auto;
    margin: 0 10px;
  }
}
@media (max-width: 992px) {
  /* line 235, ../../sass/includes/_artwork.scss */
  .content.artwork .main .artwork #artwork-small-modal .modal-dialog {
    width: auto;
    margin: 0 10px;
  }
}
@media (max-width: 768px) {
  /* line 235, ../../sass/includes/_artwork.scss */
  .content.artwork .main .artwork #artwork-small-modal .modal-dialog {
    width: auto;
    margin: 0 10px;
  }
}
/* line 254, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-small-modal .modal-content {
  border: 0;
  border-radius: 0;
}
/* line 259, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-small-modal .modal-body {
  display: table;
  position: relative;
  height: 100%;
  padding: 10px 20px;
}
@media (max-width: 768px) {
  /* line 259, ../../sass/includes/_artwork.scss */
  .content.artwork .main .artwork #artwork-small-modal .modal-body {
    margin-top: 10px;
  }
}
/* line 269, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-small-modal .modal-body button.close {
  position: absolute;
  right: 4px;
  top: 2px;
  padding: 0;
  border: 0;
  border-radius: 0;
  font-size: 16px;
}
/* line 279, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-small-modal .modal-body .img {
  display: table-cell;
  width: 60%;
  height: 100%;
  min-height: 1px;
  min-width: 1px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
/* line 291, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-small-modal .modal-body img {
  width: 100%;
}
/* line 295, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-small-modal .modal-body .wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 40%;
  padding-left: 10px;
}
@media (max-width: 768px) {
  /* line 295, ../../sass/includes/_artwork.scss */
  .content.artwork .main .artwork #artwork-small-modal .modal-body .wrapper {
    display: block;
    width: auto;
    margin-top: 10px;
    padding-left: 0;
  }
}
/* line 308, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-small-modal .modal-body .desc {
  position: relative;
  background-color: #f2f2f2;
  font-family: Lato;
  letter-spacing: 1px;
  font-size: 10px;
  padding: 0 30px;
  overflow: auto;
}
/* line 320, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-small-modal .modal-body .desc h2 {
  margin: 10px 0 0;
  font-family: LatoBlack;
  font-size: 10px;
}
/* line 325, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-small-modal .modal-body .desc h3 {
  margin: 6px 0 0;
  font-size: 10px;
}
/* line 329, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-small-modal .modal-body .desc .dimensions {
  font-family: LatoLight;
  font-size: 8px;
  margin: 4px 0 0;
}
/* line 334, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-small-modal .modal-body .desc .autor {
  margin: 0 0 8px;
  font-family: LatoLight;
  font-size: 8px;
}
/* line 338, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-small-modal .modal-body .desc .autor b {
  font-family: Lato;
  font-weight: bold;
  font-size: 9px;
}
/* line 344, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-small-modal .modal-body .desc p {
  text-align: justify;
}
/* line 348, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-small-modal .modal-body .desc a.buy {
  display: block;
  width: 120px;
  margin: 10px auto;
  text-align: center;
  border: 0;
  border-radius: 0;
  background-color: #5d5d5d;
  color: #fff;
  font-family: LatoBlack;
  font-size: 14px;
  padding: 4px;
}
/* line 361, ../../sass/includes/_artwork.scss */
.content.artwork .main .artwork #artwork-small-modal .modal-body .desc a.buy:hover {
  color: #e6e6e6;
  background-color: #444444;
}

/* line 8, ../../sass/includes/_contact.scss */
.content .main .contact-img .img.contact {
  background-position: center;
  background-size: cover;
}
/* line 14, ../../sass/includes/_contact.scss */
.content .main .contact-text {
  padding-top: 50px;
  max-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  /* line 14, ../../sass/includes/_contact.scss */
  .content .main .contact-text {
    max-height: none;
    padding-top: 10px;
  }
}
/* line 27, ../../sass/includes/_contact.scss */
.content .main .contact-text .contact-details {
  text-align: justify;
  font-family: Lato;
  font-size: 12px;
  letter-spacing: 1px;
}
/* line 32, ../../sass/includes/_contact.scss */
.content .main .contact-text .contact-details .links {
  margin-top: 20px;
  font-family: LatoBlack;
}
/* line 35, ../../sass/includes/_contact.scss */
.content .main .contact-text .contact-details .links a {
  color: #5d5d5d;
}
/* line 37, ../../sass/includes/_contact.scss */
.content .main .contact-text .contact-details .links a:hover {
  color: #5d5d5d;
}
/* line 43, ../../sass/includes/_contact.scss */
.content .main .contact-text .contact-form {
  flex-shrink: 100;
  overflow: auto;
  margin-top: 10px;
}
@media (max-width: 768px) {
  /* line 43, ../../sass/includes/_contact.scss */
  .content .main .contact-text .contact-form {
    flex-shrink: 0;
  }
}
/* line 52, ../../sass/includes/_contact.scss */
.content .main .contact-text .contact-form textarea {
  resize: none;
}
/* line 55, ../../sass/includes/_contact.scss */
.content .main .contact-text .contact-form textarea, .content .main .contact-text .contact-form input {
  border: 0;
  border-radius: 0;
}
/* line 60, ../../sass/includes/_contact.scss */
.content .main .contact-text .contact-form .form-group {
  margin-bottom: 10px;
}
/* line 64, ../../sass/includes/_contact.scss */
.content .main .contact-text .contact-form button {
  float: right;
  background-color: #5d5d5d;
  color: #f2f2f2;
  font-family: LatoBlack;
  font-size: 12px;
  height: 22px;
  width: 68px;
  line-height: 22px;
  border: 0;
  border-radius: 0;
  padding: 0;
}
/* line 76, ../../sass/includes/_contact.scss */
.content .main .contact-text .contact-form button:hover {
  background-color: #444444;
  color: #d8d8d8;
}
